@charset "UTF-8";
:root {
  --foreground-dark:#34128F;
  --foreground-light:#9C78FF;
  --foreground-lighter:#cfbdff;
  --background-dark:#8F8518;
  --background-light:#DBD051;
  --default-box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

* {
  box-sizing: border-box;
}
* a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}
* .material-symbols-outlined {
  margin: 0.25rem;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--foreground-light);
  margin: 0;
  min-height: 1000px;
  font-family: "Secular One", sans-serif;
}
body .bodyHeader {
  z-index: 2;
  background-color: var(--foreground-lighter);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position:sticky; */
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
body .bodyHeader h1 {
  /* jeśli podajemy 2 wartości : poz y, poz x */
  margin: 6px 10px;
  /* clamp przyjmuje wartości - najmniejsza możliwa czionka (na ile najmniej
  może się wyświetlić, średnia i największa) */
  font-size: clamp(1.3rem, 2.5vw, 1.8rem);
}
body .bodyHeader nav #toggler {
  display: none;
}
body .bodyHeader nav #toggler:checked ~ ul {
  right: 0;
}
body .bodyHeader nav #toggler:checked ~ label div:nth-child(1) {
  transform: rotate(45deg);
  top: calc(50% - 1px);
}
body .bodyHeader nav #toggler:checked ~ label div:nth-child(2) {
  opacity: 0;
}
body .bodyHeader nav #toggler:checked ~ label div:nth-child(3) {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}
body .bodyHeader label {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.15rem;
}
body .bodyHeader label div {
  height: 2px;
  width: 80%;
  background-color: #000;
  position: absolute;
  transition: 0.2s;
}
body .bodyHeader label div:nth-child(1) {
  top: calc(22% - 1px);
}
body .bodyHeader label div:nth-child(2) {
  top: calc(50% - 1px);
}
body .bodyHeader label div:nth-child(3) {
  top: calc(78% - 1px);
}
body .bodyHeader ul {
  background-color: var(--background-light);
  list-style-type: none;
  margin: 0;
  padding: 0.5rem;
  display: flex;
  position: fixed;
  right: -100%;
  top: 2.1rem;
  height: calc(100% - 2.1rem);
  transition: 0.5s;
  flex-direction: column;
}
body .bodyHeader ul li {
  top: 0;
  left: 0;
  margin: 0.3rem;
}
body .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.5rem 0.5rem 0 0.5rem;
}
body .wrapper header {
  width: 100%;
}
body .wrapper h2 {
  margin: 0;
}
body .wrapper .content p {
  margin: 0;
  margin-bottom: 1rem;
  line-height: 1.2rem;
}
body .wrapper .content img {
  max-width: 100%;
}
body .wrapper .content .tableWrapper {
  /* dajemy padding tylko z prawej i lewej strony */
  padding: 0 1rem;
}
body .wrapper .content .tableWrapper table {
  /* box shadow ze strony https://getcssscan.com/css-box-shadow-examples*/
  box-shadow: var(--default-box-shadow);
  /* max szerokość strony */
  width: 100%;
  /* usuwamy granice pomiędzy wierszami i kolumnami */
  border-collapse: collapse;
}
body .wrapper .content .tableWrapper table tr {
  background: var(--foreground-light);
  /* even|odd - co drugie dziecko */
}
body .wrapper .content .tableWrapper table tr:nth-child(even) {
  background: var(--foreground-lighter);
}
body .wrapper .content .tableWrapper table tr th {
  /* ustawiamy kolor ze zmiennych */
  background-color: var(--foreground-dark);
  padding: 0.5rem;
}
body .wrapper .content .tableWrapper table tr td {
  padding: 0.3rem;
}
body .wrapper .content form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 0 1rem;
  gap: 5px;
  background: var(--foreground-lighter);
  box-shadow: var(--default-box-shadow);
  border-radius: 0.5rem;
}
body .wrapper .content form input, body .wrapper .content form textarea {
  padding: 10px;
}
body .wrapper .content .projects {
  border: 2px dashed red;
}
body .wrapper .content .projects .projectsWrapper {
  border: 3px dashed blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}
body .wrapper .content .projects .projectsWrapper .project {
  cursor: pointer;
  position: relative;
  aspect-ratio: 1/1;
  width: 30%;
  max-width: 7rem;
  border-radius: 0 0 1.4rem 1.4rem;
  margin: 0.3rem;
}
body .wrapper .content .projects .projectsWrapper .project header {
  background-color: #d0ced5;
  position: relative;
  z-index: 1;
}
body .wrapper .content .projects .projectsWrapper .project header h3 {
  margin: 0;
}
body .wrapper .content .projects .projectsWrapper .project header p {
  opacity: 0;
  display: none;
}
body .wrapper .content .projects .projectsWrapper .project img {
  border-radius: 1.2rem;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
body .wrapper .content .projects .display {
  border: 5px dashed green;
  background-color: violet;
}
body .wrapper .content .projects .display ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}
body .wrapper .content .projects .display ul li {
  list-style-type: none;
  border: 4px dashedrgb(0, 49, 128);
}
body .wrapper .content .projects .display article {
  position: relative;
}
body .wrapper .content .projects .display article .displayContent {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  text-align: right;
}
body .wrapper .content .projects .display article .displayContent h3, body .wrapper .content .projects .display article .displayContent p {
  margin: 0;
  background-color: white;
  padding: 0.5rem 1.5rem;
}
body .wrapper .content .projects .display article img {
  max-height: 40vh;
}
body footer {
  margin-top: 3rem;
  background-color: #000;
  color: rgb(255, 255, 255);
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem;
}
body footer ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
body footer p {
  margin: 0;
}

/* warunek, wyłapujący wyświetlanie na komputerze */
@media (min-width: 768px) {
  body .bodyHeader nav ul {
    flex-direction: row;
    position: static;
  }
  body .bodyHeader nav label {
    display: none;
  }
  body .bodyHeader nav p {
    text-align: justify;
  }
  body .wrapper {
    min-height: 50vh;
    flex-direction: row;
  }
  body .wrapper:nth-child(odd) {
    flex-direction: row-reverse;
  }
  body .wrapper > * {
    flex: 1;
    text-align: center;
    padding: 2rem;
  }
}/*# sourceMappingURL=style.css.map */